**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!turbo.json
!packages
!packages/**
!workers
!workers/**
!examples
!examples/**
!apps
!apps/**
**/node_modules
**/dist
**/.turbo
**/artifacts
**/.env*
